// Colors Text
$color__title: rgba(0, 0, 0, 0.85);
$color__body: rgba(0, 0, 0, 0.7);

// Colors Primary
$color__primary: #1D78F1;
$color__secondary: #FFB020;
$color__dark: #212121;
$color__light: #fff;
$color__gray: rgba(0, 0, 0, 0.48);